footer {
  background-color: black;
  padding-top: 25px;
  text-align: center;
}

#app {
  max-height: 50vh;
}

body{
  background-image: url(tiktok-logo.jpg);
}

main{
  background-color: black;
  width: 80%;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

strong{
  color: #ff0050;
}

.csatorna_leiras{
  color: black;
  font-size: 18px;
  font-style: italic;
  margin-top: 25px;
}

a{
color: #00f2ea;
}

a:visited{
  color: #00f2ea;
}

a:hover{
  color:#ff0050;
}

a:active{
  color:#ff0050;
}


.tiktok{
  border: solid;
  border-width: 10px;
  padding: 5px;
  border-left-color:#00f2ea ;
  border-top-color: #00f2ea;
  border-right-color:#ff0050 ;
  border-bottom-color:#ff0050 ;
}



.app{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
}

.dolt{
 font-style: italic;
}

h1{
  color: white;
  text-align: center;
  font-size: 70px;
  margin-bottom: 30px;
}

.pelso{
  font-size: 28px;
}

h2{
  color: white;
}

p{
  color: white;
}


td {
  vertical-align: middle;
  text-align: center;
}

th {
  text-align: center;
}

li {
  color: white;
}

.card {
  height: 100%;
  margin-bottom: 30px;
}

.oszlop {
  margin-bottom: 15px;
}

#html_icon {
  width: 50px;
}

.kartya{
  width:250px;
  margin-left:auto;
  margin-right:auto;
}
